@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --main-color: #f5f6f7;
  --secondary-color: #dadbdc;

  --font-color: #1a1a1a;

  --main-hover-color: #64a5e7;
  --secondary-hover-color: #cbe4fd;
  --hover-background-color: #eff6fe;

  --background-color: #cfd8e7;
}
* {
  box-sizing: border-box;
}
/* ############### Body ###############  */
body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  overflow: hidden;
}
/* ############### Tool bar ###############  */
.panel {
  display: flex;
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
  color: var(--font-color);
  height: 93px;
  font-size: 10px;
}
.panel > div {
  display: flex;
  gap: 1px;
  align-items: center;
}
/* ############### Colors ###############  */

.panel-colors-list {
  flex-wrap: wrap;
  display: flex;
  gap: 2px;
  width: 218px;
}
.color-box {
  border: 1px solid #a0a0a0;
  padding: 1px;
  height: 20px;
  width: 20px;
  position: relative;
}

.color-box:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  border: 1px solid #fff;
}
.panel-colors-list .color-box:nth-child(n):nth-child(-n + 20):hover {
  border: 1px solid var(--main-hover-color);
}
.panel-colors-list .color-box:nth-child(n):nth-child(-n + 20):hover:after {
  border: 1px solid var(--secondary-hover-color);
  opacity: 0.5;
}

.panel-colors-list .color-box.active:hover {
  border: 1px solid var(--main-hover-color);
}
.panel-colors-list .color-box.active:hover:after {
  border: 1px solid var(--secondary-hover-color);
  opacity: 0.5;
}

.panel .large-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 3px 6px 3px 6px;
  width: 40px;
  height: 64px;
  border: 1px solid transparent;
}

.panel-colors-secondary {
  order: -1;
}
.panel-colors-primary {
  order: -2;
}

.panel-colors-edit {
  position: relative;
}

.panel-colors-edit .color-box {
  height: 25px;
  width: 25px;
  background-image: url(./icons/edit-colors.PNG);
}
#color-picker-btn {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.panel-colors-secondary .color-box {
  height: 20px;
  width: 20px;
  background-color: #fff;
}
.panel-colors-primary .color-box {
  height: 28px;
  width: 28px;
  background-color: #000;
}
.panel .large-btn:hover {
  background-color: #e8eff7;
  border: 1px solid #a4cef9;
}
.panel .large-btn.active {
  border: 1px solid #62a2e4;
  background-color: #c9e0f7;
}
/* ############### Divider ############### */

.panel-divider {
  width: 1px;
  background-color: var(--secondary-color);
  height: 86px;
  margin-inline: 6px;
}

/* ############### Sizes ############### */
.panel-sizes {
  position: relative;
}
.panel-sizes-selection .box {
  height: 27px;
  width: 32px;
  background-image: url(./icons/sizes.png);
}

.large-btn {
  position: relative;
}
.pop-up-selection-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid var(--secondary-color);
  border-radius: 1px;
  bottom: 0px;
  left: 0px;
  transform: translateY(100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 2px 1px 2px 1px;
  z-index: 10000;
}
.panel-sizes-selection-menu {
  width: 132px;
  height: 166px;
  flex-direction: column;
  justify-content: space-around;
}

.panel-sizes-selection-menu .selection-box {
  margin: 1px;
  flex: 1;
  position: relative;
  padding: 2px;
}

.selection-box:hover {
  background-color: #e8eff7;
  border: 1px solid #a4cef9;
}

.panel-sizes-selection-menu .selection-box::after {
  content: '';
  width: 80%;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  height: 2px;
  background-color: #1e395b;
  position: absolute;
}

.panel-sizes-selection-menu .selection-box:nth-child(2)::after {
  height: 4px;
}

.panel-sizes-selection-menu .selection-box:nth-child(3)::after {
  height: 6px;
}

.panel-sizes-selection-menu .selection-box:nth-child(4)::after {
  height: 8px;
}

.hidden {
  display: none;
}
/* .downward-arrow {
   display: flex;
  flex-direction: column;
  position: relative; 
  font-size: 0.9rem;
  border: 1px solid black;
  display: block;
  width: fit-content;
  height: 5px;
}
.downward-arrow::after {
  left: 50%;
  position: absolute;
  content: '\2023';
  transform: translate(-50%, -30%) rotate(90deg);
  font-size: 0.9rem;
} */

/* ############### shapes ###############  */

/* .panel-shapes-list::-webkit-scrollbar {
  width: 20px;
} */
.panel-shapes-list {
  width: 143px;
  height: 60px;
  flex-wrap: wrap;
  display: flex;
  background-color: #fafbfc;
  border: 1px solid var(--secondary-color);
  overflow-y: scroll;
}
.panel-shapes-list > div {
  width: 20px;
  height: 20px;
  padding: 1px;
  background-position: center;
  background-repeat: no-repeat;
}
.panel-shapes-list > div:hover {
  border: 1px solid var(--main-hover-color);
  background-color: var(--hover-background-color);
}

.small-box-active {
  background-color: var(--secondary-hover-color);
  border: 1px solid var(--main-hover-color);
}
.panel-shapes-list > div[shape='line'] {
  background-image: url(./icons/shapes/line.png);
}
.panel-shapes-list > div[shape='circle'] {
  background-image: url(./icons/shapes/circle.png);
}

/* ############### brushes ###############  */
.panel-brushes {
  position: relative;
}
.panel-brushes-selection .box {
  background-image: url(./icons/brushes/1.png);
  height: 32px;
  width: 32px;
}
.panel-brushes-selection-menu {
  flex-wrap: wrap;

  width: 164px;
}
.panel-brushes-selection-menu .selection-box {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.panel-brushes-selection-menu :nth-child(1) {
  background-image: url(./icons/brushes/1.png);
}
.panel-brushes-selection-menu :nth-child(2) {
  background-image: url(./icons/brushes/2.png);
}
.panel-brushes-selection-menu :nth-child(3) {
  background-image: url(./icons/brushes/brush.png);
}
.panel-brushes-selection-menu :nth-child(4) {
  background-image: url(./icons/brushes/brush.png);
}
.panel-brushes-selection-menu :nth-child(5) {
  background-image: url(./icons/brushes/brush.png);
}
/* ############### Board ###############  */

.panel-board-container {
  position: relative;
}

#board {
  position: absolute;
  margin: 5px 6px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.new-layer {
  /* border: 1px solid black; */
  position: absolute;
  margin: 5px 6px;
  background-color: transparent;
  left: 100px;
  top: 100px;
}
